/*边框*/
#box
{
	width: 100%;
	height: 100%;
	display: flex;
}
/*LOGO和标题*/
#logo
{
	width: 100%;
	height: 200px;
	/*background-color: beige;
	border: 1px solid black;*/
	display: flex;
	justify-content: flex-start;
}
/*修改图片大小*/
#logo img
{
	width: 155px;
	height: 100px;
}
/*字体位置*/
#logo h2
{
	color: red;
	position: absolute;
	left: 190px;
	top: 25px;
}
#logo h4
{
	color: red;
	position: absolute;
	left: 180px;
	top: 90px;
}
