/*大盒子宽高*/
#container
{
	width: 100%;
	height: 300px;
}
/*盒子宽高*/
.container01
{
	width: 100%;
	height: 145px;
	display: flex;
	
}
/*图片位置*/
.container02
{
	flex: 1;
	
}
/*图片大小*/
.container02 img
{
	width: 100px;
	height: 100px;
}
#jiage
{
	text-decoration: none;
	color: black;
}
