/*菜单栏布局*/
#menu
{
	/*width: 100%;*/
	height: 50px;
	background-color: whitesmoke;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

/*图片的宽、高*/
#news img
{
	width: 30px;
	height: 30px;
	/*display: flex;
	justify-content: center;
	align-items: center;*/
}
#linkman img
{
	width: 30px;
	height: 30px;
	/*display: flex;
	justify-content: center;
	align-items: center;*/
}
#find img
{
	width: 30px;
	height: 30px;
	/*display: flex;
	justify-content: center;
	align-items: center;*/
}
#me img
{
	width: 30px;
	height: 30px;
	/*display: flex;
	justify-content: center;
	align-items: center;*/
}
